<div class="images">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Corona Virus Tracker Portal</a>
        <form class="form-inline">
            
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
    
            <div class="col-xl-10 col-lg-12 col-md-9">
    
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Covid19 Tracker India</h1>
                                    </div> 
                                    <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
                                        
                                            <input type="email"  id="exampleInputEmail" formControlName="email" placeholder="Enter Email Address...">
                                        
                                        
                                            <input type="password"  id="exampleInputPassword" formControlName="password" placeholder="Password">
                                        
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"></button>
                          Login
                        
                                        <hr>
                                    </form >  
                                    
                                    <!-- </form> -->
                                    <hr> 
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" routerLink="/register">Create an Account!</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>